###Loading Data Files

In [21]:
# Set up the environment
import pandas as pd
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile

#####Importing from Excel File to Dataframe

In [22]:
# Syntax
# df = pd.read_excel ( "filename.xlsx" )

In [23]:
# Import the excel data into a DataFrame
# Check the first few rows
df01 = pd.read_excel("excel_comp_data.xlsx")
df01.head()

,account,name,street,city,state,postal-code,Jan,Feb,Mar
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000

#####Importing from .CSV File to Dataframe

In [24]:
# Syntax
# df = pd.read_csv ( "filename.csv" )

In [25]:
# Importing csv files
# Use read_csv from Pandas
df02 = pd.read_csv('prod_sales.csv')
df02

  State           City Prod  Sales
0    NY       New York    B   4000
1    CA    Los Angeles    C   2000
2    PA   Philadelphia    D   6000
3    CA  San Francisco    E   8000
4    FL          Miami    F   4000
5    FL     Clearwater    A   1000
6    PA      Pittsburg    B   2000
7    CA      San Diego    A   4000

#####Read from Clipboard to a DataFrame

In [14]:
# Syntax
# df = pd.read_clipboard()

In [16]:
# Grab a webpage
# Pythons built in method to grab a webpage
import webbrowser
# Define website
website='https://en.wikipedia.org/wiki/NFL_win-loss_records'
# Open webpage
webbrowser.open(website)

True

In [18]:
# Go the the site
# Highlight first 5 rows with headings
# Copy to clipboard - select, copy
# Use pd.read to grab it and put it in a data frame
# Pandas add the first Index column
df03 = pd.read_clipboard()

In [19]:
df03

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

#####Export DataFrame to Excel File

In [30]:
# Syntax
# writer = ExcelWriter('FileName.xlsx')
# df.to_excel(writer,'SheetName',index=False)
# writer.save()

In [31]:
# Create a new DataFrame containing rows form CA only
df02_CA = df[df['state']=='California']
df02_CA

,account,name,street,city,state,postal-code,Jan,Feb,Mar
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000

#####Export DataFrame to .CSV File

In [36]:
# Write the DataFrame to an excel file
writer = ExcelWriter('excel_comp_data_CA2.xlsx')
df02_CA.to_excel(writer,'CA',index=False)
writer.save()

In [40]:
# Export to CSV
# Include headers
# Exclude index column in DataFrame
# Include filepath if wanrt to export it to different folder
df02_CA.to_csv('excel_comp_data_CA2.csv', header =True, index=False)