### Set up Environment

In [3]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

### Using GroupBy

In [4]:
# Create a dataframe from scratch using a dictionary
data01 = {'State':['CA','CA','PA'],
        'City':['SF','LA','PHI'],
        'Airport':['SFO','LAX','PHL'],
        'Population':[837000,3880000,8400000]}

df01 = DataFrame(data01)

#Show
df01

  Airport City  Population State
0     SFO   SF      837000    CA
1     LAX   LA     3880000    CA
2     PHL  PHI     8400000    PA

In [5]:
# Grab Population column and group by State column
group_state = df01['Population'].groupby(df01['State'])

# Get the confirmation but not see it
group_state

In [6]:
# Now we can perform operations on this particular group
# This will show the dataset
group_state.sum()

State
CA    4717000
PA    8400000
Name: Population, dtype: int64

### Using GroupBy and Describe

In [7]:
# Show df
df01

  Airport City  Population State
0     SFO   SF      837000    CA
1     LAX   LA     3880000    CA
2     PHL  PHI     8400000    PA

In [8]:
# Group df by city and apply describe
group_city = df01['Population'].groupby(df01['City'])
group_city.describe()

City
LA    count          1
      mean     3880000
      std          NaN
      min      3880000
      25%      3880000
      50%      3880000
      75%      3880000
      max      3880000
PHI   count          1
      mean     8400000
      std          NaN
      min      8400000
      25%      8400000
      50%      8400000
      75%      8400000
      max      8400000
SF    count          1
      mean      837000
      std          NaN
      min       837000
      25%       837000
      50%       837000
      75%       837000
      max       837000
dtype: float64

In [12]:
# Group df by airport and apply describe
group_airport = df01.groupby(['Airport'])
group_airport.describe()

               Population
Airport
LAX     count           1
        mean      3880000
        std           NaN
        min       3880000
        25%       3880000
        50%       3880000
        75%       3880000
        max       3880000
PHL     count           1
        mean      8400000
        std           NaN
        min       8400000
        25%       8400000
        50%       8400000
        75%       8400000
        max       8400000
SFO     count           1
        mean       837000
        std           NaN
        min        837000
        25%        837000
        50%        837000
        75%        837000
        max        837000