###Working with Large Excel Files in Pandas

##### Websites Used for the Tutorial

In [3]:
# Web Site for Tutorial
website = 'https://realpython.com/blog/python/working-with-large-excel-files-in-pandas/'
import webbrowser
webbrowser.open(website)

True

In [4]:
# Web Site for Data Source Files
website = 'https://data.gov.uk/dataset/road-accidents-safety-data/resource/80b76aec-a0a1-4e14-8235-09cc6b92574a'
import webbrowser
webbrowser.open(website)

True

#####Analyze the File

In [ ]:
# Set up the environment
import pandas as pd
import numpy as np

In [13]:
# Import the excel data into a DataFrame
# Check the first 10 rows
# Note - File reads slowly
df = pd.read_csv("Accidents7904.csv", low_memory=False)
df.head(10)

,﻿Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,197901A11AD14,NaN,NaN,NaN,NaN,1,3,2,1,18/01/1979,...,-1,-1,1,8,1,-1,0,-1,-1,NaN
1,197901A1BAW34,198460,894000,NaN,NaN,1,3,1,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
2,197901A1BFD77,406380,307000,NaN,NaN,1,3,2,3,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
3,197901A1BGC20,281680,440000,NaN,NaN,1,3,2,2,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
4,197901A1BGF95,153960,795000,NaN,NaN,1,2,2,1,01/01/1979,...,-1,-1,4,3,3,-1,0,-1,-1,NaN
5,197901A1CBC96,300370,146000,NaN,NaN,1,3,1,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
6,197901A1DAK71,143370,951000,NaN,NaN,1,3,2,2,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
7,197901A1DAP95,471960,845000,NaN,NaN,1,3,2,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
8,197901A1EAC32,323880,632000,NaN,NaN,1,2,1,1,01/01/1979,...,-1,-1,4,3,3,-1,0,-1,-1,NaN
9,197901A1FBK75,136380,245000,NaN,NaN,1,3,2,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN

In [14]:
# Get number of rows in DataFrame
df.shape[0]

6224198

In [33]:
# Get list of headers
list(df.columns.values)

['\xef\xbb\xbfAccident_Index',
 'Location_Easting_OSGR',
 'Location_Northing_OSGR',
 'Longitude',
 'Latitude',
 'Police_Force',
 'Accident_Severity',
 'Number_of_Vehicles',
 'Number_of_Casualties',
 'Date',
 'Day_of_Week',
 'Time',
 'Local_Authority_(District)',
 'Local_Authority_(Highway)',
 '1st_Road_Class',
 '1st_Road_Number',
 'Road_Type',
 'Speed_limit',
 'Junction_Detail',
 'Junction_Control',
 '2nd_Road_Class',
 '2nd_Road_Number',
 'Pedestrian_Crossing-Human_Control',
 'Pedestrian_Crossing-Physical_Facilities',
 'Light_Conditions',
 'Weather_Conditions',
 'Road_Surface_Conditions',
 'Special_Conditions_at_Site',
 'Carriageway_Hazards',
 'Urban_or_Rural_Area',
 'Did_Police_Officer_Attend_Scene_of_Accident',
 'LSOA_of_Accident_Location']

In [34]:
# Grab all rows where accidents occur on a Sunday
# The code for Sunday is 1
# This is sourced from the Road Accident Safety Data Guide file
df[df['Day_of_Week']==1]

,﻿Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
385,197901A7ADD27,247480,27000,NaN,NaN,1,3,1,1,07/01/1979,...,-1,-1,4,8,2,-1,0,-1,-1,NaN
386,197901A7ADI29,281180,439000,NaN,NaN,1,3,1,1,07/01/1979,...,-1,-1,4,2,2,-1,0,-1,-1,NaN
387,197901A7AHE55,129370,535000,NaN,NaN,1,3,2,2,07/01/1979,...,-1,-1,4,8,2,-1,0,-1,-1,NaN
388,197901A7AJC53,372980,353000,NaN,NaN,1,3,3,2,07/01/1979,...,-1,-1,4,8,2,-1,0,-1,-1,NaN
389,197901A7BHD25,258470,885000,NaN,NaN,1,3,2,1,07/01/1979,...,0,5,4,8,2,-1,0,-1,-1,NaN
390,197901A7CCC20,263880,460000,NaN,NaN,1,2,1,1,07/01/1979,...,0,5,4,8,2,-1,0,-1,-1,NaN
391,197901A7CDC91,312070,601000,NaN,NaN,1,3,2,1,07/01/1979,...,-1,-1,4,8,2,-1,0,-1,-1,NaN
392,197901A7CKD97,453260,887000,NaN,NaN,1,2,1,1,07/01/1979,...,-1,-1,4,2,2,-1,0,-1,-1,NaN
393,197901A7EAC13,279880,73000,NaN,NaN,1,1,2,1,07/01/1979,...,-1,-1,4,8,2,-1,0,-1,-1,NaN
394,197901A7EBC28,289680,428000,NaN,NaN,1,3,2,1,07/01/1979,...,-1,-1,4,8,2,-1,0,-1,-1,NaN
395,197901A7EJE67,60280,327000,NaN,NaN,1,3,2,3,07/01/1979,...,-1,-1,4,8,2,-1,0,-1,-1,NaN
396,197901A7FAD73,398080,183000,NaN,NaN,1,3,1,1,07/01/1979,...,-1,-1,4,8,2,-1,0,-1,-1,NaN
397,197901A7KAD97,462360,627000,NaN,NaN,1,3,1,1,07/01/1979,...,0,1,1,2,2,-1,0,-1,-1,NaN
398,197901A7KAK77,178980,97000,NaN,NaN,1,3,1,1,07/01/1979,...,-1,-1,1,2,2,-1,0,-1,-1,NaN
399,197901A7LJU67,486870,527000,NaN,NaN,1,3,2,1,07/01/1979,...,-1,-1,1,8,3,-1,0,-1,-1,NaN
400,197901A7LLJ78,403280,588000,NaN,NaN,1,3,4,1,07/01/1979,...,-1,-1,1,8,3,-1,0,-1,-1,NaN
401,197901A7MDF20,311190,210000,NaN,NaN,1,3,2,1,07/01/1979,...,-1,-1,1,2,2,-1,0,-1,-1,NaN
402,197901A7MDV19,239870,649000,NaN,NaN,1,3,2,1,07/01/1979,...,-1,-1,1,2,2,-1,0,-1,-1,NaN
403,197901A7MHO69,440670,859000,NaN,NaN,1,3,3,1,07/01/1979,...,-1,-1,1,8,1,-1,0,-1,-1,NaN
404,197901A7NDU42,340680,642000,NaN,NaN,1,2,2,1,07/01/1979,...,-1,-1,1,8,2,-1,0,-1,-1,NaN
405,197901A7NIL76,273650,756000,NaN,NaN,1,3,2,2,07/01/1979,...,-1,-1,1,8,2,-1,0,-1,-1,NaN
406,197901A7NKC27,292180,337000,NaN,NaN,1,3,2,1,07/01/1979,...,-1,-1,1,2,2,-1,0,-1,-1,NaN
407,197901A7OFD96,474660,926000,NaN,NaN,1,3,1,1,07/01/1979,...,-1,-1,1,2,2,-1,0,-1,-1,NaN
408,197901A7OFF11,336780,901000,NaN,NaN,1,2,1,2,07/01/1979,...,-1,-1,1,8,2,-1,0,-1,-1,NaN
409,197901A7OJW02,355760,512000,NaN,NaN,1,3,1,1,07/01/1979,...,0,1,1,2,2,-1,0,-1,-1,NaN
410,197901A7PAD11,233370,851000,NaN,NaN,1,3,2,1,07/01/1979,...,-1,-1,1,8,2,-1,0,-1,-1,NaN
411,197901A7PAF74,240050,624000,NaN,NaN,1,3,1,1,07/01/1979,...,-1,-1,1,2,2,-1,0,-1,-1,NaN
412,197901A7PAW96,175090,16000,NaN,NaN,1,3,2,1,07/01/1979,...,-1,-1,1,8,2,-1,0,-1,-1,NaN
413,197901A7PDD49,471580,699000,NaN,NaN,1,2,2,1,07/01/1979,...,-1,-1,1,2,2,-1,0,-1,-1,NaN
414,197901A7PEF16,338990,126000,NaN,NaN,1,3,1,2,07/01/1979,...,0,1,1,8,2,-1,0,-1,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6223881,2004982115404,270060,569840,-4.033277,55.006132,98,3,1,1,01/08/2004,...,0,0,1,1,1,0,0,2,1,NaN
6223888,2004982118304,272210,578160,-4.003410,55.081409,98,2,1,1,22/08/2004,...,0,0,1,1,1,0,0,2,1,NaN
6223900,2004982127704,267870,555690,-4.060983,54.878480,98,3,2,1,19/12/2004,...,0,0,6,1,4,0,0,2,1,NaN
6223902,2004982128604,281590,560820,-3.849377,54.927996,98,3,1,1,26/12/2004,...,0,0,1,1,4,0,0,2,1,NaN
6223910,2004983102004,280380,615160,-3.891220,55.415748,98,3,1,1,11/01/2004,...,0,0,6,5,2,0,0,2,2,NaN
6223918,2004983106704,291370,571460,-3.700869,55.025794,98,3,1,1,25/01/2004,...,0,0,6,1,4,0,0,2,1,NaN
6223924,2004983110904,288580,579700,-3.747714,55.099189,98,3,1,1,08/02/2004,...,0,0,6,9,4,0,0,2,2,NaN
6223942,2004983118604,298060,562660,-3.593127,54.948162,98,3,1,1,21/03/2004,...,0,0,1,1,1,0,0,2,1,NaN
6223955,2004983128504,301880,569410,-3.535822,55.009565,98,3,1,2,02/05/2004,...,0,0,1,1,1,0,0,2,1,NaN
6223958,2004983129804,287850,595500,-3.765410,55.240937,98,3,2,1,09/05/2004,...,0,8,1,1,1,0,0,2,1,NaN
6223972,2004983134604,277510,609690,-3.934129,55.365915,98,2,1,1,30/05/2004,...,0,0,1,1,1,0,0,2,1,NaN
6223991,2004983146304,289140,606810,-3.749596,55.342812,98,2,1,2,18/07/2004,...,0,0,1,2,2,0,0,2,1,NaN
6223996,2004983147604,297640,575490,-3.604275,55.063326,98,3,2,1,25/07/2004,...,0,0,1,1,1,0,0,1,1,NaN
6224007,2004983151804,287580,558920,-3.755207,54.912315,98,3,2,1,15/08/2004,...,0,0,1,1,1,0,0,2,2,NaN
6224029,2004983162704,293890,577960,-3.663886,55.084725,98,3,2,1,03/10/2004,...,0,0,1,2,2,0,0,2,1,NaN
6224036,2004983163804,306600,572430,-3.463031,55.037604,98,3,1,1,17/10/2004,...,0,0,6,1,1,0,0,2,1,NaN
6224037,2004983163904,277890,610090,-3.928312,55.369602,98,3,1,1,17/10/2004,...,0,0,1,1,1,0,0,2,2,NaN
6224040,2004983165204,297540,576490,-3.606200,55.072288,98,3,2,1,24/10/2004,...,0,0,1,2,2,0,0,1,1,NaN
6224047,2004983171804,311540,571170,-3.385367,55.027189,98,3,2,1,21/11/2004,...,0,0,6,2,2,0,-1,2,1,NaN
6224050,2004983173704,296570,576510,-3.621392,55.072266,98,3,2,1,28/11/2004,...,0,0,1,1,1,0,0,1,1,NaN
6224067,2004984100804,329070,569610,-3.110810,55.015985,98,3,2,1,04/01/2004,...,0,0,6,2,2,0,0,2,1,NaN
6224076,2004984106604,303700,611320,-3.521663,55.386394,98,2,2,1,01/02/2004,...,0,0,6,5,5,0,0,2,1,NaN
6224078,2004984109504,339020,575960,-2.956586,55.074360,98,3,1,1,15/02/2004,...,0,0,1,1,1,0,-1,2,1,NaN
6224087,2004984113004,305080,606600,-3.498285,55.344265,98,3,1,1,07/03/2004,...,0,0,6,1,1,0,0,2,1,NaN
6224092,2004984114404,316570,566620,-3.305374,54.987182,98,1,1,1,14/03/2004,...,0,0,6,1,2,0,0,2,1,NaN
6224101,2004984121504,328580,569850,-3.118532,55.018071,98,1,1,2,25/04/2004,...,0,0,1,1,1,0,0,2,1,NaN
6224139,2004984137404,305910,606000,-3.485001,55.339035,98,3,1,1,01/08/2004,...,0,0,1,1,1,0,2,2,1,NaN
6224147,2004984139604,308410,581650,-3.437687,55.120768,98,3,1,2,15/08/2004,...,0,0,1,1,1,0,0,2,1,NaN
6224156,2004984142104,336940,589300,-2.992126,55.193957,98,3,1,1,29/08/2004,...,0,0,6,2,2,0,0,2,2,NaN
6224190,2004984160404,310600,588440,-3.405502,55.182165,98,3,6,2,12/12/2004,...,0,0,6,1,1,0,0,2,1,NaN

In [35]:
# Get number of accidents on a Sunday
# Count number of rows in DataFrame where Day_of_Week = 1
# For all rows
df[df['Day_of_Week']==1].count()

﻿Accident_Index                                693847
Location_Easting_OSGR                          692648
Location_Northing_OSGR                         692648
Longitude                                      148358
Latitude                                       148358
Police_Force                                   693847
Accident_Severity                              693847
Number_of_Vehicles                             693847
Number_of_Casualties                           693847
Date                                           693846
Day_of_Week                                    693847
Time                                           693744
Local_Authority_(District)                     693847
Local_Authority_(Highway)                      693847
1st_Road_Class                                 693847
1st_Road_Number                                693847
Road_Type                                      693847
Speed_limit                                    693847
Junction_Detail                                693847
Junction_Control                               693847
2nd_Road_Class                                 693847
2nd_Road_Number                                693847
Pedestrian_Crossing-Human_Control              693847
Pedestrian_Crossing-Physical_Facilities        693847
Light_Conditions                               693847
Weather_Conditions                             693847
Road_Surface_Conditions                        693847
Special_Conditions_at_Site                     693847
Carriageway_Hazards                            693847
Urban_or_Rural_Area                            693847
Did_Police_Officer_Attend_Scene_of_Accident    693847
LSOA_of_Accident_Location                      131014
dtype: int64

In [36]:
# Get number of accidents on a Sunday
# Count number of rows in DataFrame where Day_of_Week = 1
# Just show number of rows for Day_of_Week column
len(df[df['Day_of_Week']==1])

693847

In [43]:
# Or Use
accidents_sunday = df[df['Day_of_Week']==1]
len(accidents_sunday)

693847

In [55]:
# Or Use
accidents_sunday = df[df['Day_of_Week']==1]
print("Accidents on Sunday: {0}".format(
        len(accidents_sunday)))

Accidents on Sunday: 693847

In [56]:
# Grab number of accidents on a Sunday
# And involving more than 20 cars
accidents_sunday_twenty_cars = df[
    (df.Day_of_Week == 1) & (df.Number_of_Vehicles > 20)]
print("Accidents which happened on a Sunday involving > 20 cars: {0}".format(
    len(accidents_sunday_twenty_cars)))

Accidents which happened on a Sunday involving > 20 cars: 10