In [9]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [10]:
# Create a dataframe from scratch using a dictionary
data01 = {'State':['CA','CA','PA'],
        'City':['SF','LA','PHI'],
        'Airport':['SFO','LAX','PHL'],
        'Population':[837000,3880000,8400000]}

df01 = DataFrame(data01)

#Show
df01

  Airport City  Population State
0     SFO   SF      837000    CA
1     LAX   LA     3880000    CA
2     PHL  PHI     8400000    PA

In [15]:
# Grab Population column and group by State column
group_state = df01['Population'].groupby(df01['State'])

# Get the confirmation but not see it
group_state

In [16]:
# Now we can perform operations on this particular group
# This will show the dataset
group_state.sum()

State
CA    4717000
PA    8400000
Name: Population, dtype: int64